doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    script(src="/lib/jquery.min.js")
    script(src="/lib/bootstrap.min.js")
  body
    block content